
## Build results
pj_backend/bin/
pj_backend/obj/
.vs/

## User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

## Rider and VS Code
.idea/
.vscode/

## Visual Studio
.vs/

## NuGet packages
*.nupkg
packages/
**/packages.config

## Others
*.log
*.vspscc
*.vssscc
*.cache
*.dbmdl
*.pdb

# Local environment
.env

# Azure Pipelines
azure-pipelines.yml

# dotCover
.idea/.dotCover

# Temporary files
*.tmp
*.temp

# ==== FRONTEND (Next.js) ====

# Node modules
node_modules/

# Build output
.next/
out/
.vs/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Next.js export
out/

# OS-specific
.DS_Store
Thumbs.db

# Optional: lock files
# Puedes ignorar los que no uses
package-lock.json
yarn.lock
pnpm-lock.yaml
