.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rivalsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.vs{
    max-height: 80px;
    max-width: 80px;
}